@import "tailwindcss";
@keyframes introText {
  0% {
    opacity: 0;
    transform: translateY(10px);
    filter: blur(4px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 110px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}

.logo-ticker-image {
  height: 40px;
  width: auto;
  object-fit: contain;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 20px;
}